<ion-header>
  <ion-toolbar>
    <p></p>
    <ion-icon name="arrow-back"  fill="clear" routerLink="/dashboard"></ion-icon>
    <p></p>
    <ion-title>profile admin </ion-title>
   
  </ion-toolbar>
  
</ion-header>

<ion-content>

</ion-content>

<ion-toolbar class="ion-card2" routerLink="/profile1">

  <img src="assets/admin5.jpg">
Adiniah gustika P, S.Kom
</ion-toolbar >

<ion-toolbar class="ion-card3" routerLink="/profile2">

  <img src="assets/admin6.png">
 Nadia volandini, S.Kom
</ion-toolbar >

<ion-toolbar class="ion-card4" routerLink="/profile3">
  
    <img src="assets/admin4.jpg">
 Jihan vera p, S.Kom
    
</ion-toolbar >

<ion-toolbar class="ion-card" routerLink="/profile4">
  
  <img src="assets/admin2.jpg">
yusuf rahardian, S.Kom
</ion-toolbar >

<ion-toolbar class="ion-card5"  routerLink="/profile5">
  
  <img src="assets/admin3.jpg">
  umi Febriyanti L, S.Kom
</ion-toolbar >