<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
<ion-app>
  <ion-header translucent>
  
    <ion-toolbar>
      <p></p>
      <ion-icon name="chevron-back-outline"  fill="clear" routerLink="/dashboard"></ion-icon>
      <p></p>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img src="assets/aplikasi.png" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Sistem informasi Inventaris Barang</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Sistem  Informasi ini dibuat  untuk  mempermudah  dalam  pengelolaan  dan penyimpanan  data  maka  dapat  menghasilkan  suatu  informasi  yang  tepat  dan akurat.  Adanya  sistem  informasi  yang  tepat  dan  akurat  dapat  mengurangi terjadinya  kesalahan  yang  tidak  diinginkan  sehingga  dapat  meningkatkan kinerja yang lebih efisien dan kecepatan operasional instansi. 
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>