<ion-header>
  <ion-toolbar>
    <p></p>
    <ion-icon name="arrow-back"  fill="clear" routerLink="/profil"></ion-icon>
    <p></p>
    <ion-title>profile2</ion-title>
  </ion-toolbar>

  <div class="ion-padding" style="text-align: center;"> 
    <img src="assets/admin6.png">
    </div>
</ion-header>
<p></p>
<ion-content>
  <ion-item>
    <ion-label>Nama &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp; Nadia volandini, S.Kom</ion-label>
   
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Jabatan&nbsp;&nbsp;: &nbsp; Admin</ion-label>
   
  </ion-item>
 
</ion-content>
