
  <ion-app>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
     <ion-header translucent>
   
     
  
     
     
     <p></p>
     
     <ion-card>
       <div class="ion-page" id="main-content"></div>
        
           <ion-toolbar>
            
             <p></p>
             <ion-icon name="arrow-back" fill="clear" routerLink="/dashboard"></ion-icon>
             <ion-item>
              
               <H5>DATA BARANG</H5>
              
         
             <div class="ion-padding" style="text-align: right;"> 
               <img src="assets/Rectangle 1.png">
             </div>
           </ion-item>
         </ion-toolbar>
         <ion-toolbar>
           <ion-searchbar></ion-searchbar>
         </ion-toolbar>
    
   
     </ion-card>
    </ion-header>
  

<ion-card>
      <ion-content>
        <ion-list>
          
          <ion-item fill="clear" routerLink="/detailbarang">Papan Tulis</ion-item>
          <ion-item>Meja</ion-item>
          <ion-item>Kursi</ion-item>
          <ion-item>Layar projektor</ion-item>
          <ion-item>projektor</ion-item>
          <ion-item>Penghapus papan tulis</ion-item>
          <ion-item>Foto Presiden</ion-item>
          <ion-item>Meja guru</ion-item>
          <ion-item>Komputer</ion-item>
          <ion-item>Vas bunga</ion-item>
          <ion-item>Bendera kelas</ion-item>
          <ion-item>Lemari</ion-item>
          <ion-item>Papan pengumuman</ion-item>
          <ion-item>etalase</ion-item>
          <ion-item>Sepidol kelas</ion-item>
          <ion-item>Tinta</ion-item>
        </ion-list> 
      </ion-content>
      </ion-card>

      <ion-button shape="round" class="underline" routerLink="/tambahbarang">
      Tambah
      </ion-button>

    </ion-app>