<ion-app>
<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card-header>
      <p></p>
      <ion-icon name="arrow-back" fill="clear" routerLink="/loginutama"></ion-icon>
      <p></p>
      <div class="ion-padding" style="text-align: center;"> 
        <img src="assets/LOGO_RPL.png">
       
      </div>
      <div class="ion-text-center">
        <h3>INVENTARIS BARANG</h3>
      </div>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
     <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
<p></p>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
    
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
     
    </ion-item>
<p>
  <ion-col>
    <ion-router-link href="/forgot" class="underline" >Lupa Password?</ion-router-link>
  </ion-col>
</p>
<section>

  <ion-button expand="block" detail (click)="masuk()" [disabled]="loading">{{loading ? 'tunggu..':'Masuk'}}</ion-button>

</section>





</ion-content>
</ion-app>