<ion-app>
  <ion-header translucent>

  

  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="arrow-back" fill="clear" routerLink="/dashboard"></ion-icon>
          <ion-item>
           
            <H5>LAPORAN</H5>
           
      
          <div class="ion-padding" style="text-align: right;"> 
            <img src="assets/icons8-documents-64.png">
          </div>
        </ion-item>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
  
  </ion-card>
</ion-header>
      
     
      
       
        
          
        <ion-content >
          <ion-list>
            <ion-item  fill="clear" routerLink="/tab1">  Laporan Barang</ion-item>

            <ion-item>Laporan supplier</ion-item>

            <ion-item>Laporan Barang Masuk</ion-item>

            <ion-item>Laporan Barang Keluar</ion-item>

            <ion-item>Laporan Barang Rusak</ion-item>
           
            <ion-item>Laporan Keuangan</ion-item>

           
           
          </ion-list>
          
        </ion-content>
       
  
      </ion-app>