.my-custom-menu {
    --width: 500px;
  }
  ion-avatar { 
    width: 40px;  
    height: 40px;  
}
ion-app{
  background-color: #fafafa;
}
ion-segment-button{
  font-size: 15px;
  
}

ion-avatar{
  position: right;
}
img.gambar-card{
  width: 60px;  
}